:root {
  --bg-color:#FAFAFA;
  --gradient:linear-gradient(225deg ,#E844FF, #8739FF);
  --gradient-reverse:linear-gradient(225deg ,#8739FF,#E844FF);
  --mobile-background:#F5F3F7;
  --message-color:#9341C8;
  --message-background:#EEE5F4;
  --message-price:#FFFFFF;
 }
 
 /* Variables SASS */
 